@import '../components/vars.scss';

body {
  background-color: #111213ff;
  color: #ffffffff;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  padding: 1vh 2vw;
  height: 99vh;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 80vw;
  grid-template-areas: 'label-slider slider' 'label-slider desc';
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 80vw;
  }
  @media all and (max-width: 1000px) {
    grid-template-columns: 1fr 70vw;
  }
  @media (max-aspect-ratio: 1/2) {
    grid-template-rows: 40vh auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: 'slider' 'desc' 'label-slider';
  }
  overflow: hidden;
}
.desc {
  grid-area: desc;
  align-self: center;
  justify-self: center;
  text-align: center;
  max-width: 70%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  @media (max-aspect-ratio: 1/2) {
    max-width: 90vw;
  }
}
.labels {
  grid-area: label-slider;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  overflow-y: auto;
  min-height: 10px;
  background-color: #111213ff;
  @media (max-aspect-ratio: 1/2) {
    margin: 1rem;
    max-width: 90vw;
    min-height: 10px;
    overflow: scroll;
  }
}

.slide {
  grid-area: slider;
}

input {
  grid-area: radio;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  transition: all 0.3 ease;
  cursor: pointer;
}

label:hover {
  cursor: pointer;
  transform: scale(1.2);
  background: rgba(255, 255, 255, 0.15);
  position: relative;
  z-index: 2;
  .control {
    color: $blue;
    transition: all 0.3 ease;
  }
  transition: all 0.3 ease;
}

label:active,
label.active {
  cursor: pointer;
  transform: scale(1.2);
  background: rgba(255, 255, 255, 0.15);
  position: relative;
  z-index: 2;
  .control {
    color: $dark-blue;
    transition: all 0.3 ease;
  }
  transition: all 0.3 ease;
}

input:checked ~ labels.label {
  background-color: aqua;
}

.labels {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(41, 185, 240, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.07);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(41, 185, 240, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(41, 185, 240, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
