@import './vars.scss';

:root {
  --aspect-ratio: 16/9;
}
.slide {
  /*   width: 70vw;
  height: 39.375vw;
  max-height: 70vh;
  max-width: 124.4vh; */

  position: stiky;
}

.slide > :first-child {
  width: 100%;
}
.slide > img {
  height: auto;
}

.slide {
  position: relative;
}
.slide::before {
  content: '';
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.slide > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  //height: 100%;
}
