$black: #111213ff;
$black1: #212224ff;
$grey: #a1a1a1ff;
$white: #ffffffff;
$dark-blue: #2f71e8ff;
$blue: #29b9f0ff;

$iframe-size: 60;

$slider-width: $iframe-size vw;
$slider-height: (9 / 16 * $iframe-size) vw;
$slider-max-height: $iframe-size vh;
$slider-max-width: (16 / 9 * $iframe-size) vh;
